[controller]

# unique identifier of this controller
name=MyUniqueController

[connection]

# hostname of the DGI to connect to
host=localhost

# the DGI AdapterFactory's listening port
port=53000

[timings]

# after receiving commands, ms to wait before sending updated states
# warning, must match value hardcoded into Mingkui's controller
state-timeout=1000

# ms to wait before resending a Hello (e.g. no response, duplicate session)
hello-timeout=2000

# after sending updated states, ms to wait before impolite close/reconnect
dgi-timeout=5000

[misc]

# after receiving a Start from the AdapterFactory, how many times to try to
# connect to the Adapter before sending another Hello
adapter-connection-retries=3
