###############################################################################
# Example configuration file for PosixBroker
###############################################################################

# Add some hosts to the peer list
add-host=ubuntu:51871
add-host=ubuntu:51872
add-host=ubuntu:51873
add-host=ubuntu:51874
add-host=ubuntu:51875
add-host=ubuntu:51876
add-host=ubuntu:51877
add-host=ubuntu:51878

# The local address used by the DGI for communication.
address=ubuntu
port=51871

# Global verbosity. Higher is more output.
# See logger.cfg for verbosity levels and per-file configuration.
verbose=5

# Filename of the logger configuration
# If omitted, all files will use the above verbosity
#logger-config=config/logger.cfg

# Filename for the device type specification.
# If omitted, the system cannot use devices.
device-config=config/device.xml

# Filename of the physical adapter specification.
# If omitted, the system will start without devices.
adapter-config=config/adapter.xml

# The port that accepts new plug and play devices.
# If omitted, the system will run without plug and play.
#factory-port=53000

# Filename of the timing configuration
timings-config=config/timings-slow-30.cfg

# Filename of the physical topology configuration
# If omitted, group management assumes all peers are reachable.
topology-config=config/topology.cfg

# Quantum size of load balance power migrations (optional)
#migration-step = 2

# Uncomment to make load balance drop messages when in demand
#malicious-behavior = 1

# Uncomment to make supply nodes check the invariant before migrations
#check-invariant = 1
