
###############################################################################
# Example configuration file for PosixBroker
###############################################################################

# Add some hosts to the peer list
#add-host=raichu.freedm:51870
#add-host=manectric.freedm:51870
#add-host=zapdos.freedm:51870
#add-host=raikou.freedm:51870
#add-host=thundurus.freedm:51870
#add-host=raikou.freedm:51871
#add-host=thundurus.freedm:51871

# The local address used by the DGI for communication.
address=0.0.0.0
port=51870
# Global verbosity. Higher is more output.
# See logger.cfg for verbosity levels and per-file configuration.
verbose=5

# Filename of the logger configuration
# If omitted, all files will use the above verbosity
#logger-config=config/logger.cfg

# Filename for the device type specification.
# If omitted, the system cannot use devices.
#device-config=/home/freedmpscad/FREEDM/Broker/config/device.xml

# Filename of the physical adapter specification.
# If omitted, the system will start without devices.
#adapter-config=/home/freedmpscad/voltvar/master/VoltVar-DGI2.0/Broker/config/adapter.xml


# The port that accepts new plug and play devices.
# If omitted, the system will run without plug and play.
#factory-port=53000

# Filename of the timing configuration
#timings-config=/home/freedmpscad/FREEDM/Broker/config/timings-p4-3.cfg
timings-config=/home/freedmpscad/FREEDM/Broker/config/timings-slow-5.cfg

# Filename of the physical topology configuration
# If omitted, group management assumes all peers are reachable.
#topology-config=config/topology.cfg

# Quantum size of load balance power migrations (optional)
#migration-step = 2

# Uncomment to make load balance drop messages when in demand
#malicious-behavior = 1

# Uncomment to make supply nodes check the invariant before migrations
#check-invariant = 1
