[connection]

# the hostname and port of the DGI this controller must connect to
dgi-hostname=freedm.bitcurio.us
dgi-port=3160 ; zapdos 3010

# the port on which this controller will receive from the DGI
listen-port=14444

