[controller]

#unique identifier of this controller
name=MyUniqueController

# the DSP script file to run
script=dsp-script.txt

[connection]

# hostname of the DGI to connect to
host=freedm.bitcurio.us

# the DGI AdapterFactory's listening port
port=3160 ; zapdos 3010

[timings]

# after receiving commands, ms to wait before sending updated states
state-timeout=1000

# ms to wait before resending a Hello (e.g. no response, duplicate session)
hello-timeout=2000

# after sending updated states, ms to wait before impolite close/reconnect
dgi-timeout=5000

# ms to wait after sending a custom command to AdapterFactory or an adapter
custom-timeout=1000

# ms for which to ignore new commands after force-updating a state
protected-state-duration=2000

[misc]

# after receiving a Start from the AdapterFactory, how many times to try to
# connect to the Adapter before sending another Hello
adapter-connection-retries=3
