# valid commands are:
#
# enable devicetype devicename signal1 initialVal1 signal2 initialVal2 ...
# disable devicename
# change devicename signal newvalue
# work n
# dieHorribly n
#
# Whenever you enable or disable a device, the controller will send a quit
# request to DGI, and will reinitiate connection with the new device attached
# once that succeeds. So each enable/disable will take several seconds.
# 
# If the controller dies horribly, it will do that without sending a quit
# request. It will wait n seconds (0 is valid) before reconnecting. You can also
# 'dieHorribly forever' to never reconnect if it's the last command in the
# script.
#
# work is used to pass time without enabling/disabling devices or dying.
# i.e. it is used for normal operation of the controller. For implementation
# simplicity, n refers to the number of rounds of sends/receives to execute
# successfully, where one round is one send and one receive. So the seconds
# of work is lower bounded by n*(stateTimeout+commandTimeout), where
# stateTimeout is set by the controller and commandTimeout by DGI. (Never
# mind that the controller is mostly going to be blocking during this work.)
# You can also 'work forever' if it's the last command in the script.
#
# *The parser accepts comments only if they start on the first column!*

# Note that this won't work, it's just to show the syntax for devices with
# multiple signals. If we did add weirdsetting to SST, each SST would need
# to specify the initial value here. Zeroes cannot be assumed!
#enable Sst SST1 gateway 0.0 weirdsetting 25.3
enable Sst SST2 gateway 0.0
enable Sst SST3 gateway 18.0
enable Sst SST4 gateway -10.0
enable Drer DRER1 generation 5.0
enable Load LOAD1 drain -4

enable Fid FID1 state 1.0
enable Fid FID2 state 1.0

work 5

disable SST2
disable SST3

dieHorribly 5

work 15

# Again this won't work unless DGI SSTs have weirdsetting.
#enable Sst SST2 gateway 0.0 weirdsetting 223234

change FID1 state 0.0

work 15

# The script will now PoliteDisconnect and the adapter will be killed
# Unless you do this
work forever
