# hostname of the simulation server between PSCAD and DGI
#   set as PSCAD=hostname:port
PSCAD=

# hostname of the linux machines that will run the DGI Agent
#   set as DGI-#=hostname:port
DGI-1=
DGI-2=
DGI-3=
